.table-cell {
    -fx-font-family: "Arial";
}

.highlight-row {
    -fx-background-color: lightblue;
}
.table-view {
    -fx-table-cell-border-color: transparent;
}
.table-view .table-row-cell {
    -fx-border-width: 1;
}