.table-cell {
    -fx-font-family: "Courier New";
}
#btnDocs {
     -fx-pref-height: 40px;
     -fx-pref-width: 130px;
}
#btnFilePicker{
     -fx-pref-height: 40px;
     -fx-pref-width: 90px;
}

.highlight-row {
    -fx-background-color: lightblue;
}

/* Styling  für die Comments-Spalte */
.table-view .table-cell.comment-column {
  -fx-alignment: CENTER-LEFT;
}
